* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #fff;

  &:hover {
    color: #fce38a;
  }
}

.ba-header {
  position: absolute;
  width: 100%;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 0;
  position: relative;

  &__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: "";

      display: block;
      width: 100%;
      height: 3px;
      background-color: #fce38a;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      display: none;
    }
  }

  &__item {
    font-size: 0.875em;
    padding-bottom: 10px;
  }

  &__item:hover {
    color: #fce38a;
  }

  &__item + &__item {
    margin-left: 55px;
  }
}

.ba-logo {
  color: #fff;
  font-size: 1.875em;
  font-weight: 700;
  text-decoration: none;
}

.ba-menu__link:hover::after {
  display: block;
}






// ba-hero start

.ba-hero {
  min-height: 100vh;
  background: {
    image: url(../images/bghero.jpg);
    size: cover;
    repeat: no-repeat;
  }
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  text-align: center;
  color: #fff;
  padding-top: 200px;

  &__title {
    font-size: 9.375em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
  }

  &__subtitle {
    font-family: "Kaushan Script", cursive;
    font-size: 4.5em;
    margin: 0;
  }

  &-line {
    width: 5%;
    background-color: #fff;
    height: 3px;
    margin: 50px auto;
  }

  &-button {
    height: 40px;
    width: 160px;
    border: 3px solid #fff;
    color: #fff;
    background-color: transparent;
    font-weight: 700;
    font-size: 0.875em;
  }

  &-button:hover {
    background-color: #fff;
    color: #000;
  }
}

.preload {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, green, green);
  background-color: #fff;
  border-radius: 4px;
  background-size: 20%;
  background-repeat: repeat-y;
  background-position: -25% 0;
}

.animation {
  animation: scroll 4s ease-in-out;
}

.main-preloader {
  margin-top: 40px;
  text-align: start;
}

@keyframes scroll {
  50% {
    background-size: 80%;
  }
  100% {
    background-position: 125% 0;
  }
}



.nav-toogle {
  width: 30px;
  padding: 10px 0;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  display: none;
  

  z-index: 1;
  &__item {
    display: block;

    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

  }
}

.nav-toogle__item::before, .nav-toogle__item::after {
  content: '';

  width: 100%;
  height: 3px;
  position: absolute;

  background-color: #fff;
  left: 0;
  z-index: 1;
}

.nav-toogle__item::before {
  top: -8px;
}

.nav-toogle__item::after {
  bottom: -8px;
}

.header--fixed {
  padding: 10px 0;
  background-color: #eb8b8d;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translate3d(0, 0, 0);
}



// ba-hero end

// ba-about start

.ba-section-title {
  text-align: center;
}

.ba-about {
  min-height: 750px;
  text-align: center;

  &__title {
    font-family: "Kaushan Script", cursive;
    font-size: 1.5em;
    padding-top: 85px;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__subtitle {
    font-size: 1.875em;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-style: 15px;
    color: #999999;
    margin: 0 60px 0;
  }

  &-line {
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-images {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    &__item {
      width: 380px;
      background-color: #95e1d3;
      position: relative;
    }

    &__text {
      width: 100%;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      transform: translate3d(0, -50%, 0);
      opacity: 0;
      transition: opacity 0.1s linear;
      text-align: center;
    }
  }

  &__image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.1s linear;
  }
}

.ba-about-images__item:hover .ba-about__image {
  transform: translate3d(-10px, -10px, 0);
}

.ba-about-images__item:hover .ba-about__image img {
  opacity: 0.1;
}

.ba-about__image img {
  display: block;
  transition: opacity 0.1s linear;
}

.ba-about-images__item:hover .ba-about-images__text {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .ba-hero {
    padding-top: 400px;
    background-position: center;
  }
  
  .preload {
    margin-top: 200px;
  }
  
  .slick-next:before, .slick-prev:before {
    display: none;
  }
  
    .ba-header-nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #eb8b8d;
      width: 100%;
  
  
    }
    .nav-toogle {
      display: block;
    }
  
    .ba-menu {
      display: block;
      width: 100%;
    }
  
    .ba-menu__item {
      display: block;
      margin-bottom: 20px;
    }
  
    .ba-menu__item + .ba-menu__item {
      margin-left: 0;
    }
  
    .open {
      display: block;
    }

    .ba-about-images {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 20px auto;
    }

    .ba-about-images__item {
     margin-bottom: 40px;
     
    }

    .ba-do-item {
      text-align: center;
      margin-bottom: 20px;
    }

    // .header--fixed {
    //   max-width: 1024px;
    //   position: fixed;
    // }
  }


 

// ba-about end

// ba-stat start

.ba-stat {
  background-color: #95e1d3;
  min-height: 270px;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-box {
    border-left: 0.5px solid #fff;
    text-align: center;
    width: 20%;
    height: 270px;
    &-last {
      border-right: 0.5px solid #fff;
    }
  }

  &-number {
    color: #fff;
    font-weight: 700;
    font-size: 4.5em;
    margin-bottom: 0;
  }

  &-text {
    color: #fff;
    font-size: 0.875em;
    text-transform: uppercase;
  }
}



// ba-stat end

// ba-work start

.ba-work {
  min-height: 650px;

  &-info {
    display: flex;
  }

  &-icon {
    margin-top: 15px;
  }

  &-text {
    margin-left: 25px;

    &__title {
      font-size: 14px;
      text-transform: uppercase;
      color: #333;
      font-weight: 400;
    }

    &__par {
      color: #999;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
    }
  }
  &-line {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 50px 0;
  }
}

.fa-image::before,
.fa-chart-line::before,
.fa-desktop::before,
.fa-book::before,
.fa-home::before,
.fa-digital-ocean::before {
  font-size: 30px;
  color: #95e1d3;
}

// ba-start end

// ba-design start

.ba-design {
  min-height: 855px;
  background: {
    image: url(../images/bgdesign.jpg);
    size: cover;
    repeat: no-repeat;
  }

  &-images {
    width: 100%;
    max-width: 600px;
    margin: 55px auto 0;
    position: relative;
  }
  &-item {
    display: block;
    max-width: 100%;
    height: auto;
    &-phone {
      position: absolute;
      bottom: -80px;
      right: 0;
      z-index: 1;
    }
  }
}

// ba-design end

// ba-do start

.ba-do {
  min-height: 900px;

  &-wrapper {
    display: flex;
    margin-top: 90px;
  }

  &-accordion {
    &__item {
      border: 1px solid #e5e5e5;
      margin-bottom: 10px;
    }

    &__header {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      display: flex;
      padding: 15px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        text-align: center;
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 1;
        transform: translateY(-50%) rotate(135deg);
      }
    }

    &__title {
      font-size: 14px;
      color: #333;
      text-transform: uppercase;
      margin-top: 5px;
      margin-left: 15px;
    }
    &__content {
      padding: 15px 20px;
      font-size: 15px;
      font-style: italic;
      color: #999999;
      display: none;
    }
  }
}

.ba-do-accordion__item.active .ba-do-accordion__content {
  display: block;
}

.ba-do-accordion__item.active .ba-do-accordion__header::after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.ba-do-accordion__item.active .ba-do-accordion__header {
  border-bottom-color: #e5e5e5;
}



// ba-do end

// ba-team start

.ba-team {
  min-height: 1050px;

  &-links {
    display: flex;
    justify-content: space-between;

    &-box {
      height: 60px;
      width: 60px;
      background-color: #fce38a;
      margin: 0 auto;
      &:hover {
        background-color: #f38181;
        color: #fff;
      }
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    font-size: 30px;
    padding: 15px;
    padding-left: 17px;
  }

  &-info {
    margin-top: 20px;
    text-align: center;
  }

  &-name {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }

  &-prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
  }
}

// ba-team end

// ba-partners start

.ba-partners {
  min-height: 250px;
  background-color: #f8f8f8;
  padding-top: 82px;
  padding-bottom: 82px;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// ba-partners end

// ba-proj start
.ba-proj .ba-about__text {
  margin-bottom: 80px;
}

.ba-proj {
  &-works {
    display: flex;
    margin-bottom: 100px;

    &-col {
      flex: 1 1 0;
    }
    &__item {
      position: relative;
      background: linear-gradient(to bottom, #f38181, #fce38a);
    }
    &-img {
      display: block;
      max-width: 100%;
      height: auto;
      transition: opacity 0.2s linear;
    }
  }
}

.ba-proj-works__item:hover .ba-proj-works-img {
  opacity: 0.1;
}

// ba-proj end


//ba-section-map start

.ba-map {
  display: block;
  height: 400px;
  margin-bottom: 100px;
  opacity: 0.5;
  transition: 1s;
  &:hover {
    opacity: 1;
  }
}

.visible {
  display: none;
}

.ba-section-map {
  text-align: center;

  &__link {
    color: #f38181;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 30px;
  }
}

//ba-section-map end

// ba-footer start

.ba-footer {
  min-height: 560px;
  background-color: #f8f8f8;

  &-wrapper {
    padding-top: 70px;
  }

  &-info {
    &__title {
      color: #ccc;
      font-size: 46px;
      font-weight: 700px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    &__text {
      color: #999999;
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 30px;
    }

    &__followers {
      margin-bottom: 10px;
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: #e5e5e5;
    }

    &__links {
      margin-top: 10px;
      display: flex;

      &-wrapper {
        padding-left: 10px;
      }
    }

    &__link {
      padding-right: 10px;
      color: #95e1d3;
    }
  }

  &-blog {
    
    &__title {
      margin-bottom: 30px;
    }
    &__item {
      display: flex;
      margin-bottom: 20px;
    }
    &__text {
      margin-left: 15px;
      color: #999999;
    }
  }
}

.point {
  cursor: pointer;
}

.ba-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.ba-form-control {
  position: relative;
}

.ba-form-label {
  position: absolute;
  top: 0.25em;
  left: 15px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.ba-form-input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  font-size: 0.9375rem;
  padding: 1em 0;
}

.ba-form-input:focus + .ba-form-label,
.ba-form-input__has-value + .ba-form-label {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.ba-form-submit {
  background-color: #95e1d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 60px;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.ba-form-submit:hover,
.ba-form-submit:focus {
  background-color: #fce38a;
}

.ba-form-error {
  display: none;
  color: red;
}

@media screen and (max-width: 414px) {

  .ba-hero__title {
font-size: 32px;
}

  .ba-hero__subtitle {
    font-size: 22px;
  }

  .ba-stat-wrapper {
    flex-direction: column;
  }

  .ba-stat-box {
    border: none;
  }

  .ba-do-image {
    max-width: 360px;
  }

  .ba-partners-wrapper {
    text-align: center;
    flex-wrap: wrap;
  }
  
  .ba-proj-works {
    display: block  ;
  }

  }



